<h2>
  Cadastro de isentos
</h2>
  
<hr>

<form class="form">

  <div class="row">
    <div class="form-group has-feedback col-sm-12">
      <label class="required">
            <span>Ingresso:</span>
      </label>
      <select ng-model="speaker.ticket" class="form-control" focusable>
        <option value="speaker" >Palestrante</option>
        <option value="press">Imprensa</option>
        <option value="volunteer">Voluntário</option>
        <option value="organization">Organização</option>
        <option value="support">Suporte</option>
        <option value="service">Serviço</option>
        <option value="sponsor">Expositor</option>
      </select>
    </div>
  </div>

   <div class="row">
      <div class="form-group has-feedback col-sm-12">
        <label class="required">Nome completo:</label>
        <input class="form-control" 
               ng-model="speaker.name" 
               focusable="name"
               ng-keypress="keypress($event)" placeholder="Nome completo" />
        <span field-error="name"></span>     
      </div>
   </div>

   <div class="row">
      <div class="form-group has-feedback col-sm-12">
        <label class="">Nome para o crachá:
          <small class="text-muted">(Máximo 20 caracteres)</small>
        </label>
        <input class="form-control" focusable
               ng-model="speaker.badge_name" 
               focusable="badge_name"
               maxlength="20"
               ng-keypress="keypress($event)" placeholder="Nome para o crachá" />
        <span field-error="badge_name"></span>     
      </div>
   </div>

   <div class="row">
      <div class="form-group has-feedback col-sm-12">
        <label class="">Empresa:
          <small class="">(Máximo 20 caracteres)</small>
        </label>
        <input class="form-control" focusable
               ng-model="speaker.organization" 
               focusable="badge_name"
               maxlength="20"
               ng-keypress="keypress($event)" placeholder="Nome para o crachá" />
        <span field-error="badge_name"></span>     
      </div>
   </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-12">
        <label class="required">CPF:</label>
        <input class="form-control" focusable
               ng-model="speaker.cpf" 
               mask="999.999.999-99" clean="true"
               ng-keypress="keypress($event)" placeholder="CPF" />
        <span field-error="cpf"></span>     
      </div>
    </div>

   <div class="row">
      <div class="form-group has-feedback col-sm-12">
        <label class="required">E-mail:</label>
        <input class="form-control" focusable
               ng-model="speaker.email" 
               ng-keypress="keypress($event)" placeholder="Email" />
        <span field-error="email"></span>     
      </div>
   </div>

   <div class="row" ng-show="speaker.type != 'foreign'">
      <div class="form-group has-feedback col-sm-12">
        <label class="required">Telefone:</label>
        <input class="form-control" focusable
               ng-model="speaker.phone" 
               mask="(99) 9?9?999-9999" clean="true"
               ng-keypress="keypress($event)"/>
        <span field-error="phone"></span>     
      </div>
   </div>

   <div class="row" ng-show="speaker.type == 'foreign'">
      <div class="form-group has-feedback col-sm-12">
        <label class="required">Telefone:</label>
        <input class="form-control" focusable
               ng-model="speaker.phone" 
               mask="+99 99 9?9999-9999" clean="true"
               ng-keypress="keypress($event)"/>
        <span field-error="phone"></span>     
      </div>
   </div>

   <div class="row">
      <div class="form-group has-feedback col-sm-12">
        <label >Minicurrículo:</label>
        <textarea class="form-control" 
               ng-model="speaker.resume" 
               placeholder="Minicurrículo"
               ng-keypress="keypress($event)" />
        <span field-error="resume"></span>     
      </div>
   </div>

   <!--
   <div class="row">
      <div class="form-group col-sm-12">
        <button class="btn btn-primary" 
                ng-click="submit()">Cadastrar</button>
      </div>
   </div>
-->


</form>

