(function() {
  "use strict";

  angular
    .module('segue.frontdesk')
    .constant('Config', {
      API_HOST: '{{ api_host }}',
      API_PATH: '{{ api_path }}',
      DEFAULT_COUNTRIES: ['Brasil','Argentina','Uruguai'],
      TIMEZONE: '-0300',
    });

})();
