@import 'modules/common/mixins.scss';

main.authenticate {
  position: relative;
  max-width: 988px;
  margin: 10px auto 0;

  form {
    input, button {
      display: block;
      font-size: 200%;
      margin: 1rem;
      width: 60%;
    }
  }
}

aside.login {
  background: #999;
  position: fixed;
  right: 5px;
  top: 0px;
  z-index: 150;

  .logged-as {
    padding: 0;
    margin: 0;

    img {
      float: left;
      width: 40px;
    }
    .name {
      margin-top: 5px;
      margin-left: 15px;
      float: left;
      font-size: x-large;
    }
    .logout-icon {
      margin-top: 5px;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 32px;
      float: left;
      cursor: pointer;
    }
  }
}
