@import 'modules/common/mixins.scss';

main.authenticate {
  position: relative;
  max-width: 988px;
  margin: 10px auto 0;


  form {
    input, button {
      display: block;
      font-size: 200%;
      margin: 1rem;
      width: 60%;
    }
  }
}

aside.menu.authenticate {
  display: none;
}
