aside.printers {
  position: fixed;
  background: lightgray;

  left: -110px;
  top: 10rem;

  transition: left 0.2s;


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    background: url(/images/printer.png) center right no-repeat;
    background-size: 48px 48px;

    li {
      width: 100px;
      cursor: pointer;
      line-height: 2rem;
      padding: 3px 52px 3px 8px;
      &:hover {
        background-color: gray;
        color: black;
      }
    }
  }

  &:hover {
    left: 0px;
    ul {
      background: none;
      li.selected {
        background-image: url(/images/printer.png);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 32px 32px;
      }
    }
  }
}
