<header ng-show="empty" class="centered">
  <h1>
    nenhum resultado encontrado
  </h1>
  <small>
    <b>não é necessário digitar o nome completo,</b><br/>
    em geral basta digitar o primeiro nome<br/>
    ou um dos sobrenomes do participante
  </small>
</header>

<hr>

<div class="table-responsive">

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Nome completo</th>
      <th>E-mail</th>
      <th>Documento</th>
      <th>Telefone</th>
    </tr>    
  </thead>

  <tbody ng-repeat="purchases in purchasesByAccount">
    <tr  ng-class="{true: 'success', false: 'warning'}[validTickets(purchases).length > 0]"> 
        <td ng-click="isCollapsed(purchases[0].customer_id) ? expand(purchases[0].customer_id) : collapse(purchases[0].customer_id)">
          <i ng-show="isCollapsed(purchases[0].customer_id)" class="fa fa-plus" aria-hidden="true"></i>
          <i ng-show="!isCollapsed(purchases[0].customer_id)" class="fa fa-minus" aria-hidden="true"></i>
        </td>
        <td>{{purchases[0].name}}</td>
        <td>{{purchases[0].email}}</td>
        <td>{{purchases[0].document}}</td>
        <td>{{purchases[0].phone}}</td>
    </tr>
    <tr uib-collapse="isCollapsed(purchases[0].customer_id)">
      <td colspan="5">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Inscrição</th>
              <th>Produto</th><th>Categoria</th><th>Situação</th><th>Informações</th><th>Ação</th>
            </tr>
          </thead>
          <tbody ng-repeat="purchase in purchases">
            <tr ng-class="{'success':purchase.status == 'paid', 'info': purchase.has_payable_ticket, 'danger': !purchase.has_payable_ticket && purchase.status != 'paid'}">
              <td>
                  <span ng-switch="purchase.category">
                    <span ng-switch-when="donation">
                      -
                    </span>
                    <span ng-switch-default>
                      {{purchase.id}}
                    </span>
                  </span>
              </td>
              <td>{{purchase.product_description}}</td>
              <td>{{purchase.category | humanize}}</td>
              <td>{{purchase.status   | humanize}}</td>
              <td>
                <span ng-show="purchase.donation_promocodes && purchase.category == 'donation' && purchase.product_description != 'Doa\u00e7\u00e3o espont\u00e2nea'">
                  <p class="small" ng-repeat="promocode in purchase.donation_promocodes">
                    <b>Código promocional:</b> {{promocode.hash_code}} </br> 
                    <b>Usado:</b> <span ng-show="promocode.used">Sim</span>
                    <span ng-show="!promocode.used">Não</span>
                  </p>
                </span>
                <span ng-show="purchase.has_payable_ticket">
                  <p>Pagamento pendente</p>                   
                </span>
                <span ng-show="!purchase.has_payable_ticket && purchase.status == 'pending'">
                  <p>Pagamento atrasado</p>                   
                </span>
              </td>
              <td>
                <span ng-show="(purchase.has_valid_ticket || purchase.has_payable_ticket) && purchase.is_corporate">
                    <button class="btn btn-sm btn-primary" 
                            ui-sref="people.person.corporate({ xid: purchase.id })">Visualizar
                    </button>
                </span>
                <span ng-show="(purchase.has_valid_ticket || purchase.has_payable_ticket) && !purchase.is_corporate">
                      <button class="btn btn-sm btn-primary"  
                              ui-sref="people.person({ xid: purchase.id })">Visualizar
                      </button>
                </span>
                <span ng-show="purchase.status == 'paid'">
                  <button class="btn btn-sm btn-primary" ng-click="printDonationBadge(purchase.id)">
                      <i class="fa fa-print" aria-hidden="true"></i>
                  </button>
                </span>
                <span ng-show="!(purchase.has_valid_ticket || purchase.has_payable_ticket)">-</span>    
              </td>
            </tr>
            <tr ng-show="$last">
              <td colspan="4">
              </td>
              <td colspan="2">
                  <button class="btn btn-sm btn-primary"
                          ng-click="addNewProduct(purchase.customer_id)">Nova compra</button>
                  <button class="btn btn-sm btn-primary"
                          ng-click="makeDonation(purchase.customer_id)">Fazer doação</button>
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </tbody>

</table>

</div>
