<table class="data" ng-class="{ loading: !person }">
  <tbody>
    <tr ng-click="fastForward('people.person')">
      <th colspan="2">dados básicos</th>
    </tr>
    <tr ng-click="fastForward('people.person.email')">
      <th ng-class="{ done:   person.email }"   >email</th>
      <td ng-class="{ empty: !person.email }"   >{{ person.email    || 'não informado' }}</td>
    </tr>
    <tr ng-click="fastForward('people.person.name')">
      <th ng-class="{ done:   person.name }"    >nome</th>
      <td ng-class="{ empty: !person.name }"    >{{ person.name     || 'não informado' }}</td>
    </tr>
    <tr ng-click="fastForward('people.person.country')">
      <th ng-class="{ done:   person.country }" >país</th>
      <td ng-class="{ empty: !person.country }" >{{ person.country  || 'não informado' }}</td>
    </tr>
    <tr ng-click="fastForward('people.person.city')" ng-hide="isForeign">
      <th ng-class="{ done:   person.city }"    >cidade</th>
      <td ng-class="{ empty: !person.city }"    >{{ person.city || 'não informado' }}</td>
    </tr>
    <tr ng-click="fastForward('people.person.document')">
      <th ng-class="{ done:   person.document }">cpf</th>
      <td ng-class="{ empty: !person.document }">{{ (person.document | document )|| 'não informado'}}</td>
    </tr>
  </tbody>
  <tbody>
    <tr ng-click="fastForward('people.person.product')">
      <th colspan="2">ingresso</th>
    </tr>
    <tr>
      <th ng-class="{ done:   person.category }">categoria</th>
      <td ng-class="{ empty: !person.category }">{{ person.category | humanize }}</td>
    </tr>
    <tr>
      <th ng-class="{ done:   person.has_valid_ticket }">situação</th>
      <td ng-class="{ empty: !person.has_valid_ticket }">{{ person.status | humanize }}</td>
    </tr>
    <tr ng-show="person.outstanding_amount">
      <th>pendente</th>
      <td>{{ person.outstanding_amount | realbrasileiro }}</td>
    </tr>
  </tbody>

  <tbody ng-show="person.payments">
    <tr>
      <th colspan="2">pagamentos recebidos</th>
    </tr>
    <tr ng-repeat="payment in person.payments">
      <th>{{ payment.type | humanize }}</th>
      <td>
        <small ng-show="person.category == 'business'">{{ person.badge_corp }}<br/></small>
        <small ng-show="payment.type == 'government'">{{ payment.government.payer_name }}<br/></small>
        <small ng-show="payment.type == 'cash'">[{{ payment.cash.cashier }}]</small>
        <small ng-show="payment.type == 'pagseguro'">[{{ payment.pagseguro.code.substring(0,6) }}]</small>
        <small ng-show="payment.type == 'boleto'">
          <span ng-hide="payment.boleto.document_hash">
            [{{ payment.boleto.our_number }}]
          </span>
          <a ng-show="payment.boleto.document_hash" target="_blank"
             href="{{CONFIG.API_HOST}}/api/documents/boleto-{{ payment.boleto.document_hash}}.pdf">
            [{{ payment.boleto.our_number }}]
          </a>
        </small>

        <span ng-show="payment.type == 'promocode'">
          {{ payment.promocode.hash_code }} ({{ payment.promocode.discount*100 }}%)
        </span>
        <span ng-hide="payment.type == 'promocode'">
          {{ payment.amount | realbrasileiro }}
        </span>
      </td>
    </tr>
  </tbody>

  <tbody ng-show="person.has_valid_ticket">
    <tr ng-click="fastForward('people.person.badge_name')">
      <th colspan="2">etiqueta/material</th>
    </tr>
    <tr ng-click="fastForward('people.person.badge_name')">
      <th ng-class="{ done:   person.badge_name }">nome</th>
      <td ng-class="{ empty: !person.badge_name }">{{ person.badge_name }}</td>
    </tr>
    <tr ng-click="fastForward('people.person.badge_corp')"
        ng-class="{ locked: !person.can_change_corp }">
      <th ng-class="{ done:   person.badge_corp }">empresa</th>
      <td ng-class="{ empty: !person.badge_corp }">{{ person.badge_corp }}</td>
    </tr>
    <tr ng-click="fastForward('person.print_badge')">
      <th ng-class="{ done:  !person.last_badge.was_ok }">impresso?</th>
      <td ng-hide="person.badgePrinted.result.error">impressora {{ person.badgePrinted.location }}</td>
      <td ng-show="person.badgePrinted.result.error">
        erro! clique para tentar de novo
      </td>
    </tr>

    <tr ng-click="fastForward('person.give_badge')">
      <th ng-class="{ done: person.badgeGiven }">entregue?</th>
      <td ng-show="person.badgeGiven">
        às {{ person.badgeGiven }}
      </td>
      <td ng-hide="person.badgeGiven">
        nenhuma entrega registrada
      </td>
    </tr>
  </tbody>
</table>

<section class="step" ui-view="step" ng-class="{ loading: !step, trying: trying }">
</section>
