<table class="table table table-striped table-condensed" ng-class="{ loading: !person }">
  <thead>
    <tr ng-click="fastForward('people.person')">
      <th colspan="2">Dados básicos</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-click="fastForward('people.person.basicinfo')">
      <th>
        <i ng-show="person.email" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.email" class="fa fa-times text-danger" aria-hidden="true"></i>
        Email
      </th>
      <td>{{ person.email    || 'não informado' }}</td>
    </tr>
    <tr ng-click="fastForward('people.person.basicinfo')">
      <th>
        <i ng-show="person.name" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.name" class="fa fa-times text-danger" aria-hidden="true"></i>
        Nome
      </th>
      <td>{{ person.name     || 'não informado' }}</td>
    </tr>
    <tr ng-click="fastForward('people.person.basicinfo')">
      <th class="text-nowrap">
        <i ng-show="person.document" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.document" class="fa fa-times text-danger" aria-hidden="true"></i>
        Documento
      </th>
      <td ng-class="{ empty: !person.document }">{{ (person.document )|| 'não informado'}}</td>
    </tr>
  </tbody>
</table>

<table  class="table table table-striped table-condensed">
  <thead>
    <tr>
      <th colspan="2">
      <i ng-show="!person.can_change_product" class="fa fa-lock text-warning" aria-hidden="true"></i>
      Ingresso
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-click="fastForward('people.person.product')">
      <th class="text-nowrap">
        <i ng-show="person.category" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.category" class="fa fa-times text-danger" aria-hidden="true"></i>
      Categoria</th>
      <td>{{ person.category | humanize }}</td>
    </tr>
    <tr>
      <th class="text-nowrap"> 
        <i ng-show="person.has_valid_ticket" class="fa fa-check text-success" aria-hidden="true"></i>
        Produto
      </th>
      <td>{{ person.product.description }}</td>
    </tr>
    <tr>
      <th>
        <i ng-show="person.has_valid_ticket" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.has_valid_ticket" class="fa fa-times text-danger" aria-hidden="true"></i>
        Situação
      </th>
      <td> {{ person.status | humanize }}</td>
    </tr>
    <tr ng-show="person.outstanding_amount">
      <th>Pendente</th>
      <td>{{ person.outstanding_amount | realbrasileiro }}</td>
    </tr>
  </tbody>
</table>



<table  class="table table-striped table-condensed" ng-show="person.payments.length">
  <thead>
    <tr>
      <th colspan="2">Pagamentos recebidos</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="payment in person.payments">
      <th class="done">{{ payment.type | humanize }}</th>
      <td>
        <small ng-show="payment.description">{{ payment.description<br/></small>
        <small ng-show="person.category == 'business'">{{ person.badge_corp }}<br/></small>
        <small ng-show="payment.type == 'government'">{{ payment.government.payer_name }}<br/></small>
        <small ng-show="payment.type == 'cash'">[{{ payment.cash.mode | humanize }} - {{ payment.cash.cashier }}]<br/></small>
        <small ng-show="payment.type == 'pagseguro'">[{{ payment.pagseguro.code.substring(0,6) }}]<br/></small>
        <small ng-show="payment.type == 'boleto'">
          <span ng-hide="payment.boleto.document_hash">
            [{{ payment.boleto.our_number }}]
          </span>
          <a ng-show="payment.boleto.document_hash" target="_blank"
             href="{{CONFIG.API_HOST}}/api/documents/boleto-{{ payment.boleto.document_hash}}.pdf">
            [{{ payment.boleto.our_number }}]
          </a>
        </small>

        <span ng-show="payment.type == 'promocode'">
          {{ payment.promocode.hash_code }} ({{ payment.promocode.discount*100 }}%)
        </span>
        <span ng-hide="payment.type == 'promocode'">
          {{ payment.amount | realbrasileiro }}
        </span>
      </td>
    </tr>
  </tbody>
</table>


<table class="table table table-striped table-condensed" ng-show="person.has_valid_ticket">

  <thead>
    <tr>
      <th colspan="2">Etiqueta/Material</th>
    </tr>
  </thead>

  <tbody ng-show="person.has_valid_ticket">
    <tr ng-click="fastForward('people.person.badge')">
      <th>
        <i ng-show="person.badge_name" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.badge_name" class="fa fa-times text-danger" aria-hidden="true"></i>
        Nome
      </th>
      <td>{{ person.badge_name }}</td>
    </tr>
    <tr ng-click="fastForward('people.person.badge')">
      <th class="text-nowrap">
        <i ng-show="person.badge_corp" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.badge_corp" class="fa fa-question text-warning" aria-hidden="true"></i>
      Empresa</th>
      <td>{{ person.badge_corp }}</td>
    </tr>
    <tr ng-click="fastForward('person.print_badge')">
      <th class="text-nowrap">
        <i ng-show="person.last_badge.was_ok" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.last_badge.was_ok" class="fa fa-times text-danger" aria-hidden="true"></i>
        Impresso?
      </th>
      <td ng-show="person.last_badge.was_ok">{{ person.last_badge.printer }}</td>
      <td ng-hide="person.last_badge.was_ok">Clique para tentar de novo</td>
    </tr>

    <tr ng-click="fastForward('person.give_badge')">
      <th class="text-nowrap">
        <i ng-show="person.last_badge.given" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-show="!person.last_badge.given" class="fa fa-times text-danger" aria-hidden="true"></i>
      Entregue?
      </th>
      <td>
          {{ person.last_badge.given | datetime_locale }}
          <span ng-hide="person.last_badge.given">nenhuma entrega registrada</span>
      </td>
    </tr>
  </tbody>
</table>

<section class="step" ui-view="step" ng-class="{ loading: !step, trying: trying }">
</section>
