<form class="choose fill">
  <div ng-hide="person.can_change_badge_corp">
    <h3>Atenção!</h3>
    <h4>não é possível mudar o nome da empresa no crachá deste participante</h4>
    <h5>
      <b>motivo:</b>

      a inscrição foi realizada pela categoria <b>{{ person.category | humanize }}</b>,
      e já tem o nome da empresa preenchido como solicitado pelo responsável pela inscrição
    </h5>

    <input type="text" value="{{ step.badge_corp }}"/>

    <button type="button" ng-click="doNothing()" disabled focusable="option-0">ok</button>
  </div>

  <div ng-show="person.can_change_badge_corp">
    <h3>qual o nome da empresa para o crachá?</h3>
    <input type="text" focusable ng-model="step.badge_corp" ng-change="clearErrors()" ui-keydown="keypress" placeholder="empresa para o crachá" />
    <div form-error="badge_corp.*">nome de para crachá inválido!</div>
  </div>
</form>
