<form class="form" novalidate>

  <div class="alert alert-danger" 
        ng-hide="person.can_change_badge_corp">
    <h4><b>Atenção!</b></h4>
    <p>Não é possível mudar o nome da empresa no crachá deste participante</p>
    <p><b>Motivo:</b>
      a inscrição foi realizada pela categoria <b>{{ person.category | humanize }}</b>,
      e já tem o nome da empresa preenchido como solicitado pelo responsável pela inscrição
    </p>
  </div>

  <div>
    <legend>Solicite os dados para o crachá:</legend>
  </div>
  
  <div class="form-group has-feedback">
      <label class="required">Nome para o crachá:
        <small class="text-muted">(Máximo 20 caracteres)</small>
      </label>
      <input class="form-control" focusable
             maxlength="20"
             ng-model="badge.badge_name" 
             ng-keypress="keypress($event)" placeholder="Nome para o crachá" />
       <span field-error="badge_name"></span>     
  </div>


  <div class="form-group has-feedback">
      <label>Nome da empresa para o crachá
        <small class="text-muted">(Máximo 20 caracteres)</small>
      </label>
      <input class="form-control" focusable
             maxlength="20"
             ng-disabled="!person.can_change_badge_corp"
             ng-model="badge.badge_corp" 
             ng-keypress="keypress($event)" placeholder="Nome para o crachá" />
       <span field-error="badge_corp"></span>     
  </div>

  <div class="form-group">
    <button type="button" 
            class="btn btn-primary" 
            ng-click="submit()">Salvar</button>
  </div>

</form>