<form class="choose fill">
  <h3>
    Qual é o país do participante?
  </h3>
  <h4>
    use <kbd>&#8593;</kbd> e <kbd>&#8595;</kbd> para trocar de país e
    <kbd>enter</kbd> para selecionar
  </h4>

  <button type="button"
          ng-repeat="option in options"
          ng-click="selectOptions($index)"
          ui-keydown="keypress($index)"
          focusable="option-{{ $index }}">
    {{ option }}
    <span ng-show="option.id == person.product.id">*</span>
  </button>
  <input type="text"
         ng-model="enteredOption"
         ui-keydown="keypress(options.length)"
         focusable="option-{{ options.length }}"
         placeholder="outro país..."/>

  <br/>

</form>
