<form class="choose payment">
  <div ng-hide="person.product.can_pay_cash">
    <h3>Atenção!</h3>
    <h4>não é possível pagar este ingresso</h4>
    <h5>
      <b>motivo:</b>
      <span ng-show="person.status == 'stale'">ingresso vencido</span>
      <span ng-show="person.has_valid_ticket">pagamento já foi efetuado</span>
      <span ng-show="person.category == 'promocode'">aplicação de código promocional em andamento</span>
    </h5>

    <button type="button" ng-click="cannotBePaid()" focusable="option-0">ok</button>
  </div>

  <div ng-show="person.product.can_pay_cash">
    <h2>
      cobre o valor abaixo
    </h2>

    <h1>
      R$ {{ person.outstanding_amount }}
    </h1>

    <h4>
      use <kbd>&#8593;</kbd> e <kbd>&#8595;</kbd> para trocar de método<br/>
      de pagamento, <kbd>enter</kbd> para selecionar
    </h4>


    <button type="button" ng-click="receivedCash()"  ui-keydown="keypress(0)" focusable="option-0">
        recebido em dinheiro
    </button>
    <button type="button" ng-click="receivedCard()"  ui-keydown="keypress(1)" focusable="option-1">
        recebido em cartão de crédito
    </button>
    <button type="button" ng-click="didNotReceive()" ui-keydown="keypress(2)" focusable="option-2">
        não recebi o dinheiro
    </button>
  </div>
</form>
