@import 'modules/common/variables';

main.people-person {
  section.step {
    position: absolute;
    width: $person-header-width * 0.9;
    top: 5rem;
    min-height: 70vh;

    border: 1px solid green;

    [form-error] {
      background: lightpink;
      display: inline-block;
      padding: 1rem;
      margin: 5px;
    }

    form {
      padding-top: 2rem;

      h3 {
        font-size: 200%;
      }
      h5 {
        background: lightpink;
        border: 1px solid maroon;
        margin: 2rem 7rem;
        padding: 1rem;
        font-weight: normal;
      }

      text-align: center;
    }
    .fill {
      input {
        font-size: x-large;
        width: 40rem;
        position: relative;
        margin-bottom: .7rem;
        padding: 0.3rem;
      }
    }

    .choose {
      padding: 0;
      h1 {
        margin: 0;
        padding: 0;
        font-size: 500%;
      }
      h2, h3 {
        padding: 0;
      }
      button {
      }
      button, input[type=text] {
        font-size: x-large;
        width: 25rem;
        position: relative;
        margin-bottom: .7rem;
        padding: 0.3rem;

        span {
          float: right;
        }

        &:focus:before {
          top: 0;
          left: -2rem;
          content: '❯';
          font-size: xx-large;
          color: blue;
          position: absolute;
        }
      }
    }
  }
}
