main.reports {
  footer {
    page-break-inside: never;
  }
  dl {
    font-size: small;
    clear: both;
    padding-bottom: 5px;

    dt {
      float: left;
      display: inline-block;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    dd {
      float: left;
      display: inline-block;
      margin: 0 1rem 0 0.2rem;
      min-width: 3rem;
      padding: 0;
      &.filter span { display: none; }
    }
  }
  table {
    border-collapse: collapse;
    border: 1px solid gray;

    min-width: 100%;

    thead {
      padding: 5px;
      background: black;
      color: white;
    }
    tbody {
      td {
        min-width: 4em;
        border-bottom: 1px dotted gray;
        border-left: 1px solid gray;
        padding: 15px 15px;
      }
    }
  }
}

@media print {
  header.days {
    display: none;
  }

  header.info {
    position: relative;
    margin: 0;
  }
  td {
    font-size: x-small;
  }
  dd.filter {
    span {
      display: inline !important;
    }
    input, button {
      display: none !important;
    }
  }
}
